<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="libs/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/novo_layout_style.css">
	<link rel="stylesheet" type="text/css" href="styles/novo_layout_style_mobile.css">
</head>
<body>
	<div class="topbar unselectable">
		<div class="main-logo-icon"></div>
		<div class="right-align">
			<div class="toggle-menu desactived-menu">
				<span class="toggle-menu-line"></span>
				<span class="toggle-menu-line"></span>
				<span class="toggle-menu-line"></span>
			</div>
			<nav class="nav-list">
				<ul>
					<li><a href="#">EXPLORAR</a></li>
					<li><a href="#">SOBRE</a></li>
					<li><a href="#">AJUDA</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="menu" data-actived="false" >
		<div class="menu-isolater-background"></div>
		<div class="menu-container">
			<div class="menu-topbar unselectable">
			  <div class="organize-icon"><span class="unselectable"><div class="grid"><span>&#x25a0;&#x25a0;&#x25a0;</span><span>&#x25a0;&#x25a0;&#x25a0;</span><span>&#x25a0;&#x25a0;&#x25a0;</span></div></span></div>
				<div class="title"><span class="cursor-default">CONTEÚDOS</span></div>
				<div class="close"><span></span><span></span></div>
			</div>
			<div class="menu-body" data-organize="list">
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Matriz</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/matrix.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Matriz</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Logaritmo</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/log.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Logaritmo</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Constantes</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/consts.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Constantes</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Eq. do 2º grau</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/2equation.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Eq. do 2º grau</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Eq. do 1º grau</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/1equation.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Eq. do 1º grau</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Conversão</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/convert.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Conversão</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Porgressões</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/progress.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Conversão</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Geometria</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/geometry.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Conversão</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Porcentagem</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/percent.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Conversão</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Exponenciação</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/pow.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Conversão</h1>
					</div>
				</div>
				<div class="icons section">
					<div class="matrix-section-title section-title unselectable" data-hide="true">
						<div class="toggle-icon" ><span>></span></div>
						<h1>Radiciação</h1>
						<div class="logo-icon" ><a href="" style="background-image: url('../images/icons/green/radic.png')"></a></div>
					</div>
					<div class="matrix-section-content section-content">
						<h1>Conversão</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-full-content">
		<div class="follow-scroll">
			<span class="scroll-marker"></span>
			<span class="scroll-marker"></span>
			<span class="scroll-marker"></span>	
			<span class="scroll-marker"></span>		
		</div>
		<section class="introduction">
			<h1 class="unselectable cursor-default">BEM-VINDO</h1>
			<br>
			<div class="intruction-button">
				<button>EXPLORAR<br><span>></span></button>
			</div>
		</section>
		<section class="page1 pages">
			
		</section>
		<section class="page1 pages">
			
		</section>
		<section class="page1 pages">
			
		</section>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			var menu = $('.menu'),
					menuContainer = $('.menu .menu-container'),
					menuIsolaterBackground = $('.menu .menu-isolater-background'),
					toggleMenu = $('.topbar .toggle-menu'),
					closeMenu = $('.menu .menu-topbar .close');

			var menuFn = {
				show: function(){
					menu.show();
					menuContainer.animate({
						right: 0	
					}, 200);
					menuIsolaterBackground.fadeIn(100);
					menu.attr('data-actived', 'true');
					toggleMenu.removeClass('desactived-menu');
					toggleMenu.addClass('actived-menu');
				},
				hide: function(){
					menuContainer.animate({
						right: '-100%'
					}, 100, function(){
						menu.fadeOut(100);
					});
					menu.attr('data-actived', 'false');
					toggleMenu.removeClass('actived-menu');
					toggleMenu.addClass('desactived-menu');
				}
			}
			if(menu.attr('data-actived') == 'true') menuFn.show();
			else menuFn.hide();

			toggleMenu.click(menuFn.show);
			menuIsolaterBackground.click(menuFn.hide);
			closeMenu.click(menuFn.hide);

			$('.menu .menu-container .menu-body .section .section-title').click(function(e){
				var sectionContent = $(this).next();
				var self = $(this);
				if(e.target.tagName != "A"){
					$('.menu .menu-container .menu-body .section').each(function(i){
						var title = $(this).children('.section-title');
						if(title.get(0) == self.get(0)){
							if(title.attr('data-hide') == "true" || title.attr('data-hide') == true){
								title.attr('data-hide', 'false');
							}else{
								title.attr('data-hide', 'true');
							}						
						}else{
							title.attr('data-hide', 'true');
						}
					});
				}
			});
			$('.menu-topbar .organize-icon').click(function(){
				var organize = $('.menu-body').attr('data-organize');
				var icon = $(this).children('span');
				if(organize == "list"){
					$('.menu-body').fadeOut(100, function(){
						$('.menu-body').attr('data-organize', 'icon')
						icon.html('☰');
						$('.menu-body').fadeIn(100);
					});
				}else{
					$('.menu-body').fadeOut(100, function(){
						$('.menu-body').attr('data-organize', 'list')
						icon.html('<div class="grid unselectable"><span>&#x25a0;&#x25a0;&#x25a0;</span><span>&#x25a0;&#x25a0;&#x25a0;</span><span>&#x25a0;&#x25a0;&#x25a0;</span></div>')
						$('.menu-body').fadeIn(100);

					});
				}
			});
			var scrollCount = 0;

			$(document).on('scroll', function(){
				var selectScroll = 0;
				var scrollTop = document.body.scrollTop;
				if(scrollTop >= 50 && scrollTop <= 200){
					if(scrollCount == 0){
						scrollCount += 1;
						$('body, html').animate({
							scrollTop: $('.pages:first').offset().top-60
						})
					}
				}else if(scrollTop == 0){
					scrollCount = 0;
				}
				$('.pages, .introduction').each(function(i){
					if(scrollTop >= $(this).offset().top - 200){
						selectScroll = i;
					}
				})
				$('.follow-scroll .scroll-marker').removeClass('actived-scroll')
				$('.follow-scroll .scroll-marker').eq(selectScroll).addClass('actived-scroll')
			})
			$('.follow-scroll .scroll-marker').click(function(e){
				var index = $(e.target).index();
				$('body, html').animate({
					scrollTop: index == 0 ? $('.introduction').offset().top-60 : $('.pages').eq(index-1).offset().top
				})
			})
			$('.unselectable').on('selectstart', function(e){
				e.preventDefault();
				return false;
			})
		})
	</script>
</body>
</html>